<header>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        we serve great food!
                        we serve great food!
                        we serve great food!
                        we serve great food!
                    </p>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="intro-text">
                        <h4> Our Location</h4>
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.2564537482403!2d-122.57999888402533!3d45.50491587910152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a04d0f47cb59%3A0x762b7edff8efa9fc!2sGyro+Town!5e0!3m2!1sen!2sus!4v1500316827134"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br/>
                    <address>
                        <h4>Spice Kictchen</h4><br> 8245 SE Division St<br>Portland, OR 97266<br>
                        <abbr title="Phone">P:</abbr>  (503) 774-3978
                    </address>
                    <br/>
                    <h4> Our timings</h4>
                    <a> Mon - Sat // 8am - 9pm </a> <br/>
                    <a> Sun // 10am - 9pm </a>

                </div>
            </div>
        </div>
</header>