<header>
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Cook</h2>
                <p>Good food!
                </p>
                <p>
                    Any questions, please email me at:
                    <a href="mailto:#">shaleshp@yahoo.com</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Spice Kitchen</strong>
                    <br>8245 SE Division St
                    <br>Portland, OR 97266
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(503) 774-3978
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">shaleshp@yahoo.com</a>
                </address>
            </div>
        </div>
    </div>
</header>