<header>
      <div class="container" id="maincontent" tabindex="-1">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu1.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu2.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu3.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu4.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu5.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">                       
                        <img src="assets/images/menu6.png" class="img-responsive img-centered" alt="">                       
                     </div>
                </div>
            </div>
        </div>
</header>